@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&family=Inter+Tight:wght@100&family=Nosifer&family=Rubik+Moonrocks&display=swap');

:root {
    --tarjeta-width: 11rem;
    --tarjeta-height: 5.25rem;
    --tarjeta-bg-color: #009b77;
    --tarjeta-border-color: royalblue;
}


body {
    font-family: 'Poppins', 'Roboto Slab', sans-serif;
    background-color: #e6f2e8;
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center

}
.tarjetas {
    display: flex;
    gap: 10px;
}
.titulo {
    color: #317da1;
}
.subtitulo {

}
.tarjeta-de-mokepon {
    /* Tamaño y posición */
    width: var(--tarjeta-width);
    height: var(--tarjeta-height);
    margin: 0.125rem;
    padding: 0.1875rem;
    box-sizing: border-box;

    /* Apariencia */
    background: var(--tarjeta-bg-color);
    border: 0.3125rem solid var(--tarjeta-border-color);
    border-radius: 0.1875rem;

    /* Otros */
    display: flex;
}

.tarjeta-de-mokepon:hover {
    background: rgb(24, 85, 218);
    cursor: pointer;
}

.tarjeta-de-mokepon img {
    width: 5.3125rem; /* 85px */
    height: 4.375rem; /* 70px */
}

#boton-mascota {
    width: 100px;
    height: 70px;
    background: rgb(151, 194, 153);
    border-radius: 50%;
    margin: 30px auto;
    box-sizing: border-box;
    border: 3px rgb(24, 85, 218) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
    font-family: 'Roboto', sans-serif; /* Aquí se aplica la fuente Roboto */
    font-weight: 300; /* Esto hace que la fuente sea delgada */
    letter-spacing: 0.5px; /* Esto agrega un pequeño espacio entre las letras */
    color: #ffffff; /* Esto hace que el texto sea blanco para que contraste con el fondo */
}

#boton-mascota:hover {
    background: rgb(24, 85, 218);
    cursor: pointer;
}